body {
    background-color: gray;
    margin: 0;
    text-align: center;
}

header {
    background-color: darkred;
    text-align: center;
    color: white;
}

table {
    width: 100%;
    border: 0.3vh solid black;
    margin: 1vh auto
}

tr {
    background-color: gray;
    color: white;
}

.tableMaker {
    background-color: rebeccapurple;
    color: white;
    border-radius: 0.4ch;
    padding: 1vh;
    width: auto;
    margin: auto;
}

.divy {
    display: inline-block;
    width: auto;
    text-align: center;
    padding: 4vh;
    margin: auto;
    background-color: lightslategray;
    border: 0.7vh solid white;
}