body
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.main
{
	display: flex;
	border-style: solid;
	border-width: 2px;
}
.butt
{
	display: block;
}
.output
{
	font-family: "Consolas", monospace;
	font-size: 12px;
}
.left
{
	width: 200px;
}
.right
{
	width: 200px;
}
.age
{
	width: 16px;
}