body{
  color: #293647;
}

.bg-fej {
    background-image: url("drukletters.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}


.bg-fej h1{
  color: white;
  font-size: 500%;
  text-transform: uppercase;
  text-decoration: underline overline;
  font-weight: bold;
}

.container{
  margin-bottom: 25px;
}

.bg-torzs {
  background-color: #C5C599;
}

h3{
  margin: 25px 0px;
}

a {
  font-style: italic;
  font-weight: bold;
  color: darkblue;
}

#kalkGomb {
  margin: 20px auto;
}

#szelesseg,
#magassag {
    margin: 0 auto 15px auto;
    display: block;
}

#valasz {
    display: none;
    background-color: #e0e0e0;
    padding: 10px;
    margin-top: 10px;
}


