body
{
	background-color: #aae5a4;
	margin: 0 auto;
}
{}
.head
{
	text-align: center;
}
{}
.card
{
	display: flex;
	flex-direction: column;
	border: 1px, solid, #000;
	background-color: #e7e7e7;
	padding: 10px;
	margin: 0 32px;
}
.card .forminput
{
	display: grid;
	grid: auto/auto auto;
	margin: 5px 0;
}