<<<<<<< HEAD
body
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh
}
.main
{
	width: 320px;
	display: flex;
	padding: 3px 10px;
	flex-direction: column;
	border: 1px, solid, black;
}
.label
{
	margin: 5px 0 0 0;
}
.dropdown
{
	height: 21px;
}
.buttons
{
	display: flex;
	margin: 0 auto;
}
.button
{
	margin: 10px 10px;
}
.table
{
	display: flex;
	flex-direction: column;
}
table th, td
{
	border: 1px, solid;
}
table
{
	border-collapse: collapse;
	margin: 0 0 10px 0;
}
td
{
	text-align: center;
=======
body
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh
}
.main
{
	width: 320px;
	display: flex;
	padding: 3px 10px;
	flex-direction: column;
	border: 1px, solid, black;
}
.label
{
	margin: 5px 0 0 0;
}
.dropdown
{
	height: 21px;
}
.buttons
{
	display: flex;
	margin: 0 auto;
}
.button
{
	margin: 10px 10px;
}
.table
{
	display: flex;
	flex-direction: column;
}
table th, td
{
	border: 1px, solid;
}
table
{
	border-collapse: collapse;
	margin: 0 0 10px 0;
}
td
{
	text-align: center;
>>>>>>> 508682966dc1c50aeb4017a64c1f9d921eaa4e6d
}