<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./css/theme.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<title>Vue Teszt</title>
</head>
<body>
	<div id="txtapp" class="card">
		<h2>Text input</h2>
		<input type="text" v-model="textinput" placeholder="write here :3">
		<p>Value: {{ textinput }}</p>
		<input type="text" v-model="textinput" placeholder="updates in real-time :3">
	</div>
	<div id="cntapp" class="card">
		<h2>Counter</h2>
		<p>{{ count }}</p>
		<button type="button" @click="count++">Click! :3</button>
	</div>
	<div id="itemapp" class="card">
		<h2>Item list</h2>
		<button type="button" @click="additem">Add item</button>
		<ul v-if="items.length">
			<li v-for="(item, index) in items" :key="index">{{ item }}</li>
		</ul>
	</div>
	<script src="./js/script.js"></script>
</body>
</html>