.maindiv {
    width: 80%;
    border: 0.5ch solid black;
    border-radius: 2ch;
    margin: 5ch auto;
    text-align: center;
}

#deleteButton {
    background-color: red;
    color: white;
    padding: 1ch;
    border-radius: 0.7ch;
    border: 0.6ch solid black;
}