body
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.a
{
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 1px, solid, #000000;
	padding: 10px;
	width: 500px;
	margin: 20px 0; 
}
.a div
{
	display: flex;
	justify-content: center;
}
.a input
{
	width: 300px;
}